In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
species = pd.read_csv('species_info.csv')
species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [3]:
observations = pd.read_csv('observations.csv')
observations.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [7]:
print('species shape: {}'.format(species.shape))
print('observations shape: {}'.format(observations.shape))

species shape: (5824, 4)
observations shape: (23296, 3)

In [10]:
print('Number of Species: {}'.format(species.scientific_name.nunique()))

Number of Species: 5541

In [11]:
print('Number of Categories: {}'.format(species.category.nunique()))
print('Categories: {}'.format(species.category.unique()))

Number of Categories: 7
Categories: ['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

In [20]:
species.groupby('category').size()

category
Amphibian              80
Bird                  521
Fish                  127
Mammal                214
Nonvascular Plant     333
Reptile                79
Vascular Plant       4470
dtype: int64

In [21]:
print('Number of Conservation Statuses: {}'.format(species.conservation_status.nunique()))
print('Conservation Statuses: {}'.format(species.conservation_status.unique()))

Number of Conservation Statuses: 4
Conservation Statuses: [nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']

In [26]:
print('na values count: {}'.format(species.conservation_status.isna().sum()))
print(species.groupby('conservation_status').size())

na values count: 5633
conservation_status
Endangered             16
In Recovery             4
Species of Concern    161
Threatened             10
dtype: int64

In [28]:
print('Number of Parks: {}'.format(observations.park_name.nunique()))
print('Park Names: {}'.format(observations.park_name.unique()))

Number of Parks: 4
Park Names: ['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']

In [29]:
print('Number of Observations: {}'.format(observations.observations.sum()))

Number of Observations: 3314739